window {
    margin: 5px;
    border: 1px solid white;
    background-color: #282828;
    border-radius: 10px;
}

#input {
    margin: 5px;
    background: transparent;
    color: white;
    border-radius: 5px;
    /* background-color: blue; */
}

#inner-box {
    margin: 5px;
    /* border: 2px solid yellow; */
    /* background-color: yellow; */
}

#scroll {
    margin: 5px;
    /* border: 2px solid orange; */
    /* background-color: orange; */
}

#text {
    margin: 5px;
    color: white;
    /* border: 2px solid cyan; */
    /* background-color: cyan; */
}

#entry:selected {
    background-color: #7a675e;
    /* text-decoration: underline; */
    /* text-decoration-color: white; */
}

#text:selected {
    background-color: #7a675e;
    text-decoration-color: white;
}
